{% extends '_base.html' %}
{% load static %}

{% block title %}IR Media | Blogs{% endblock title %}
{% block content %}


  <div class="row">
    <div class="col-md-12 col-sm-12" style="background-color: #fff;">
      <h1 class="text-center mt-100" style="font-size: 35px">Blogs</h1>
    </div>
  </div>

  <section class="white-bg pt-30">
    <div class="container">
      <div class="row blog-style-01">
        {% for post in post_list %}
          <div class="col-md-4 col-sm-12 col-xs-12 mb-20">
            <div class="post">
              {% if post.img %}
                <div class="post-img"> <a href="{{ post.get_absolute_url }}"> <img class="img-responsive" src="{{ post.img.url }}" style="height: 250px !important;"  /> </a></div>
              {% else %}
                <div class="post-img"> <a href="{{ post.get_absolute_url }}"> <img class="img-responsive" src="{% static 'assets/images/post/post-img-01.jpg' %}" style="height: 250px !important;"/> </a></div>
              {% endif %}
              <div class="post-info all-padding-40">
                <h3><a href="{{ post.get_absolute_url }}">{{ post.subject|truncatewords:50|title }}</a></h3>
                <h6>{{ post.created_date }}</h6>
                <hr>
                <p class="mt-10"> <span class="extras-wrap"><i class="icofont icofont-clock-time"></i><span>{{ post.created_on|timesince|title }}</span></span> </span> </p>
                <a class="readmore" href="{{ post.get_absolute_url }}"><span>Read More</span></a> </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if is_paginated %}
        <div class="row mt-100">
            <div class="col-md-12">
                <div class="text-center">
                  <div class="pagination text-uppercase dark-color">
                        <ul>
                          {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}" class="btn">&#10094; Prev</a></li>
                          {% else %}
                          <li><a href="#" class="btn btn--disabled">&#10094; Prev</a></li>
                        {% endif %}
    
                        {% for i in page_obj.paginator.page_range %}
                            {% if i == page_obj.number %}
                                <li><a href="?page={{ i }}" class="btn btn--sub">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}" class="btn">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}" class="btn">Next &#10095;</a></li>
                        {% else %}
                            <li><a href="#" class="btn btn--disabled">Next &#10095;</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
    </div>
  </section>

{% endblock content %}
