{% extends '_base.html' %}
{% load static %}

{% block title %}{{ post.subject|truncatewords:10 }}{% endblock title %}

{% block content %}

  <div class="transition-none" style="background-color: #000;">
      <section class="title-hero-bg parallax-effect" style="background: url({% static 'assets/images/title-bg/title-bg-2.jpg' %}) no-repeat center center/cover;">
      </section>
  </div>

  <section class="white-bg pt-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 xs-mb-50">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mb-50">
              <div class="post">
                <div class="post-info all-padding-40">
                    <h3 class="font-20px text-uppercase"><a href="blog-grid.html">{{ post.subject }}</a></h3>
                    <h6>Posted on {{ post.created_date }}</h6>
                    <hr>
                    <p>{{ post.body|safe }}</p>
                </div>
              </div>
              {% if post_tags %}
                <div class="post-tags text-center ">
                  {% for tag in post_tags %} 
                    <a href="#">{{ tag.name|upper }}</a>
                  {% endfor %} 
                </div>
              {% endif %}
            </div>
            <!--== Post End ==-->

            <div class="col-md-12 col-sm-12 col-xs-12 mb-50">
              
            {% if recent_posts %}
              <h1 class="recent-post-title" style="font-size: 25px;">Recent Posts</h1>
                <div class="row blog-style-01">
                  {% for post in recent_posts %}
                    <div class="col-md-4 col-sm-12 col-xs-12 mb-20">
                      <div class="post">
                        {% if post.img %}
                          <div class="post-img"> <img class="img-responsive" src="{{ post.img.url }}" style="height: 350px !important;" /> </div>
                        {% else %}
                          <div class="post-img"> <img class="img-responsive" src="{% static 'assets/images/post/post-img-01.jpg' %}" style="height: 350px !important;"/> </div>
                        {% endif %}
                        <div class="post-info all-padding-20">
                          <h3><a href="{{ post.get_absolute_url }}">{{ post.subject|truncatewords:50|title }}</a></h3>
                          <h6>{{ post.created_on }}</h6>
                          <hr>
                          <p class="mt-10"> <span class="extras-wrap"><i class="icofont icofont-clock-time"></i><span>{{ post.created_on|timesince|title }}</span></span> </span> </p>
                          <a class="readmore" href="{{ post.get_absolute_url }}"><span>Read More</span></a> </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock content %}

  