.talent-text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.talent-text p {
  font-size: 20px;
  line-height: 1.5;
}

.talent-text h1 {
  font-weight: 500 !important;
}

.course-title:hover {
  color: #212121 !important;
}

.form-select,
.form-control {
  border: 1px solid #9da9b5;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.social-btn {
  width: 100%;
  border: 1px solid #222;
  transition: all 250ms ease-in-out;
}

.social-btn:hover {
  border: 1px solid #9da9d5;
  opacity: 0.9;
}

.user-btn {
  background-color: #502d5a;
}

.form-error {
  color: #dc4c64;
  line-height: 1.5;
}

@keyframes show-toast {
  0% {
    bottom: -100%;
  }
  20% {
    bottom: 100px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: -100%;
  }
}

.show-notification {
  position: fixed;
  bottom: 100%;
  right: 20px;
  animation-name: show-toast;
  animation-duration: 8s;
  z-index: 99;
}

.show-notification strong {
  padding-right: 5px;
}

@media (max-width: 700px) {
  .talent-text h1 {
    font-size: 30px !important;
  }

  .talent-text p {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .NotGeneric-SubTitle:first-child,
  .business-heading {
    font-size: 18px !important;
    text-align: center !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
  }
  .home-btn {
    text-align: center !important;
    margin: 10px auto !important;
  }

  .rev_slider a {
    transition: none !important;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .NotGeneric-SubTitle:first-child,
  .business-heading {
    font-size: 20px !important;
    text-align: center !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
  }
  .home-btn {
    text-align: center !important;
    margin: 10px auto !important;
  }
  .rev_slider a {
    transition: none !important;
  }
}
