<!--== Footer Start ==-->
<footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="copy-right text-left">
              © 2023 IR Media Creative Agency. All rights reserved
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="social-media">
              <li>
                <a href="https://www.facebook.com/irmedia.11/" target="_blank" class="icofont icofont-social-facebook"></a>
              </li>
              <li>
                <a href="https://twitter.com/IRMEDIA11" target="_blank" class="icofont icofont-social-twitter"></a>
              </li>
              <li>
                <a href="https://www.behance.net/irmediaagency" target="_blank" class="icofont icofont-social-behance"></a>
              </li>
              <li>
                <a href="https://pk.linkedin.com/company/irmedia11" target="_blank" class="icofont icofont-social-linkedin"></a>
              </li>
              <li>
                <a href="https://www.youtube.com/@IRMedia11" target="_blank" class="icofont icofont-social-youtube"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/irmedia.11/" target="_blank" class="icofont icofont-social-instagram"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
  <!--== Footer End ==-->