{% load static %}
<!--== Header Start ==-->
<nav
  class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full navbar-gradient no-border"
>
  <!--== Start Top Search ==-->
  <div class="fullscreen-search-overlay" id="search-overlay">
    <a href="#" class="fullscreen-close" id="fullscreen-close-button"
      ><i class="icofont icofont-close"></i
    ></a>
    <div id="fullscreen-search-wrapper">
      <form method="get" id="fullscreen-searchform">
        <input
          type="text"
          value=""
          placeholder="Type and hit Enter..."
          id="fullscreen-search-input"
          class="search-bar-top"
        />
        <i class="fullscreen-search-icon icofont icofont-search">
          <input value="" type="submit" />
        </i>
      </form>
    </div>
  </div>
  <!--== End Top Search ==-->
  <div class="container">
    <!--== Start Atribute Navigation ==-->
    <div class="attr-nav hidden-xs sm-display-none">
      <ul>
        <li class="side-menu">
          <a href="#"><i class="icofont icofont-navigation-menu"></i></a>
        </li>
        {% comment %} <li class="search">
          <a href="#" id="search-button"
            ><i class="icofont icofont-search"></i
          ></a>
        </li> {% endcomment %}
      </ul>
    </div>
    <!--== End Atribute Navigation ==-->

    <!--== Start Header Navigation ==-->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#navbar-menu"
      >
        <i class="tr-icon ion-android-menu"></i>
      </button>
      <div class="logo">
        <a href="{% url 'core:index' %}">
          <img
            class="logo logo-display"
            src="{% static 'assets/images/logo-white.png' %}"
            alt=""
          />
          <img
            class="logo logo-scrolled"
            src="{% static 'assets/images/logo-white.png' %}"
            alt=""
          /> 
        </a>
      </div>
    </div>
    <!--== End Header Navigation ==-->

    <!--== Collect the nav links, forms, and other content for toggling ==-->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul
        class="nav navbar-nav navbar-center"
        data-in="fadeIn"
        data-out="fadeOut"
      >
        <li><a class="page-scroll" href="{% url 'core:index' %}">Home</a></li>
        <li><a class="page-scroll" href="{% url 'core:index' %}#feature">Features</a></li>
        {% comment %} <li><a class="page-scroll" href="{% url 'core:index' %}#team">Team</a></li> {% endcomment %}
        <li><a class="page-scroll" href="{% url 'core:index' %}#service">Services</a></li>
        <li><a class="page-scroll" href="{% url 'core:index' %}#about">About</a></li>
        <li><a class="page-scroll" href="{% url 'core:index' %}#portfolio">Portfolio</a></li>
        {% comment %} <li><a class="page-scroll" href="{% url 'core:index' %}#pricing">Pricings</a></li> {% endcomment %}
        <li><a class="page-scroll" href="{% url 'blogs:post_list' %}">Blogs</a></li>
        <li><a class="page-scroll" href="{% url 'courses:course_list' %}">Courses</a></li>
        <li><a class="page-scroll" href="{% url 'core:index' %}#contact">Contact</a></li>
      </ul>
    </div>
    <!--== /.navbar-collapse ==-->
  </div>

  <!-- Start Side Menu -->
  <div class="side gradient-bg-two">
    <a href="index.html" class="logo-side"
      ><img src="{% static 'assets/images/logo-full-light.png' %}" alt="side-logo"
    /></a>
    <a href="#" class="close-side"><i class="icofont icofont-close"></i></a>
    <div class="widget mt-120">
      <ul class="link">
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}">Home</a>
        </li>
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#feature">Features</a>
        </li>
        {% comment %} <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#team">Team</a>
        </li> {% endcomment %}
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#service">Services</a>
        </li>
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#about">About</a>
        </li>
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#portfolio">Portfolio</a>
        </li>
        {% comment %} <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#pricing">Pricings</a>
        </li> {% endcomment %}
        <li class="link-item">
          <a class="page-scroll" href="{% url 'blogs:post_list' %}">Blogs</a>
        </li>
        <li class="link-item">
          <a class="page-scroll" href="{% url 'courses:course_list' %}">Courses</a>
        </li>
        <li class="link-item">
          <a class="page-scroll" href="{% url 'core:index' %}#contact">Contact</a>
        </li>
      </ul>
    </div>
    <ul class="social-media">
      <li><a href="https://www.facebook.com/irmedia.11/" target="_blank" class="icofont icofont-social-facebook"></a></li>
      <li><a href="https://twitter.com/IRMEDIA11" target="_blank" class="icofont icofont-social-twitter"></a></li>
      <li><a href="https://www.behance.net/irmediaagency" target="_blank" class="icofont icofont-social-behance"></a></li>
      <li><a href="https://www.instagram.com/irmedia.11/" target="_blank" class="icofont icofont-social-instagram"></a></li>
      <li><a href="https://pk.linkedin.com/company/irmedia11" target="_blank" class="icofont icofont-social-linkedin"></a></li>
      <li><a href="https://www.youtube.com/@IRMedia11" target="_blank" class="icofont icofont-social-youtube"></a></li>
    </ul>
  </div>
  <!-- End Side Menu -->
</nav>
<!--== Header End ==-->
