{% load static %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJNGOwO2hJpJ9kz8e0UUPjZhEbgDJTTXE"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/master.js' %}"></script>


<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'revolution/js/revolution.extension.video.min.js' %}"></script>
